# Database connection string for PostgreSQL
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db_name
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=disable

# NextAuth secret and url
NEXTAUTH_SECRET=your_nextauth_secret_here
NEXTAUTH_URL=https://localhost

# Admin Credentials
ADMIN_USERNAME=admin
ADMIN_PASSWORD=your_admin_password_here
ADMIN_NAME=Administrador GerFi
ADMIN_MATRICULA=000000
ADMIN_CPF=00000000000

# SMTP Settings for Password Recovery
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=user@example.com
SMTP_PASS=password
SMTP_FROM='"GerFi Sefaz" <noreply@example.com>'

# Location Settings
MAIN_LOCATION_NAME=SEFAZ
